.badge_schriftlich {
    background-color: #7749f8 !important;
}
.badge_mündlich {
    background-color: #49a4f8 !important;
}
.badge_PVL {
    background-color: #ffc107 !important;
    color: black !important;
}